/* MAKE SLIDER LABELS ON OPPOSITE SIDES */

.date-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
}

#dateSlider {
    width: 100%;
}

/* COUNTIES */

#stats {
    margin-top: 20px;
    padding: 10px;
    font-family: sans-serif;
}

.county-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 4px 0;
}

.county-name {
    font-weight: 500;
}

.county-count {
    font-weight: bold;
    color: #d33;
}
